<div class="challenge-info">
  <h1 class="game"><%= @challenge.game.name %></h1></br>
  <h2 class="player">
    <span class="title">Player:</span> <%= @challenge.player.name %>
    <% if @challenge.game.pick_a_partner %>
    (Pick a partner)
    <% end %>
  </h2>
</div>

<div class="center-container">
  <p class="challenge-value card"><%= @challenge.challenge.value %></p>
</div>

<%= render "sessions/partials/scores" %>
<%= render "sessions/partials/scoring" %>