<h1>Game: <%= @challenge.game.name %></h1>
<h2>Player: <%= @challenge.player.name %></h2>
<h2>Judge: <%= @challenge.judge.name %></h2>
<p><%= @challenge.challenge.value %></p>

<%= form_for @challenge, url: "/#{@session.code}/next", method: "post" do |f| %>
  <%= f.hidden_field :session_game_challenge_id %>

  <%= render "sessions/scoring/#{@challenge.game.scoring}" %>

  <%= f.submit "Next" %>
<% end %>