<div class="box-center box-title card">
  <h1>Add Players</h1>

  <ul class="players">
    <% @session.players.each do |player| %>
      <li><%= player.name %></li> 
    <% end %>
  </ul>

  <%= form_for :session_player, url: "/#{@session.code}/players", class: "player-row player-form" do |f| %>
    <div class="input-container">
      <%= f.text_field :name, autofocus: true, placeholder: "Name" %>
    </div>
    <%= f.submit "Add Player" %>
  <% end %>

  <%= form_for :session, url: "/#{@session.code}/start" do |f| %>
    <%= f.submit "Start Game", class: "box-button" %>
  <% end %>
</div>
